html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Verdana, Geneva, sans-serif;
}

.header {
  background-color: #c0c0c0;
  font-size: 10pt;

}

.subreddit-title {
  font-weight: bold;
  font-size: 15pt;
  padding: 2pt 10pt;
}

.post-list {
  display: table;
  border-spacing: 5pt;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post {
  font-size: 10pt;
  color: #828282;
  display: table-row;
}

.post-body {
  display: table-cell;
  vertical-align: top;
}

.post-thumbnail {
  display: table-cell;
  vertical-align: top;
  width: 100px;
  height: auto;
}

.post-title {
  color: #000000;
  text-decoration: none;
}

.post-domain {
  font-size: 8pt;
}

.post-info {
  font-size: 7pt;
}

.nowrap {
  white-space: nowrap;
}
