@import models.Comment
@import views.ViewUtils

@(comment: Comment)

<div class="comment @if(comment.depth > 0){child}">

  @if(comment.author == null) {
    @* TODO load comments. probably a better way to check for this as well *@
    <a href="#">TODO Load more comments...</a>
  } else {

    <details open>
      <summary>
        <span class="comment-details">@comment.author @if(comment.flairText != null && comment.flairText != ""){[@comment.flairText]} | @comment.getRelativeCreatedDate | @ViewUtils.pluralise(comment.score, "point")</span>
      </summary>
      <div class="comment-text">@Html(comment.getBodyHtmlUnescaped)</div>

      @for(childComment <- comment.replies){
        @views.html.commentDetail(childComment)
      }

    </details>
  }
</div>