@import models.PostSummary
@import views.ViewUtils

@(postSummary: PostSummary)

<div class="post-body">
  <div>
    <a class="post-title" href="@postSummary.getPostUrlOrDetailLink">@postSummary.title</a>
    <span class="post-domain">(@postSummary.domain)</span>
  </div>
  <div class="post-info">
    <span class="nowrap">@ViewUtils.pluralise(postSummary.score, "point") by @postSummary.author @postSummary.getRelativePostCreatedDate</span> | <span class="nowrap"><a href="@postSummary.getDetailLink">@ViewUtils.pluralise(postSummary.commentCount, "comment")</a></span>
  </div>
</div>