@import models.PostSummary

@(subreddit: String, postSummaries: List[PostSummary], showThumbs: Boolean)

@basePage{

  @header(subreddit){
    @if(showThumbs){
      <a href='@controllers.routes.SubredditController.view(subreddit, false)'>hide thumbnails</a>
    } else {
      <a href='@controllers.routes.SubredditController.view(subreddit, true)'>show thumbnails</a>
    }
  }

  <ol class="post-list no-list-style">
    @for(post <- postSummaries){
    <li>
      <div class="post">
        @if(showThumbs && !post.isSelfPost){
          <a class="post-title" href="@post.url">
            <img src="@post.thumbnail" class="post-thumbnail"> </img>
          </a>
        }
        @postSummary(post)
      </div>
    </li>
    }
  </ol>
}