@import models.PostSummary

@(subreddit: String, requestedPostStartId: String, postList: List[PostSummary], showThumbs: Boolean)

@basePage{

  @header(subreddit){
    @if(showThumbs){
      <a href='@controllers.routes.SubredditController.view(subreddit, requestedPostStartId, false)'>hide thumbnails</a>
    } else {
      <a href='@controllers.routes.SubredditController.view(subreddit, requestedPostStartId, true)'>show thumbnails</a>
    }
  }

  <ol class="post-list no-list-style">
    @for(post <- postList){
    <li>
      <div class="post">
        @if(showThumbs && !post.isSelfPost && post.getThumbnailUrl.isPresent){
          <a class="post-title" href="@post.getPostUrlOrDetailLink">
            <img src="@post.getThumbnailUrl.get" class="post-thumbnail"> </img>
          </a>
        }
        @postSummary(post)
      </div>
    </li>
    }
  </ol>

  <a class="next-page-link" href="@controllers.routes.SubredditController.view(subreddit, postList.last.name, showThumbs)">next page ></a>
}